<div id="<%= dom_id grade %>">
  <p>
    <strong>Student:</strong>
    <% if grade.student %>
      <%= "#{grade.student.lastname} #{grade.student.firstname}" %>
    <% else %>
      <em>Student not found</em>
    <% end %>
  </p>

  <p>
    <strong>Examination:</strong>
    <%= grade.examination&.title || "Examination not found" %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= grade.examination&.lecture&.subject&.name || "Subject not found" %>
  </p>

  <p>
    <strong>Class:</strong>
    <%= grade.examination&.lecture&.school_class&.name || "Class not found" %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= number_with_precision(grade.value, precision: 2) %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= grade.examination&.date&.strftime("%B %d, %Y") || "Date not available" %>
  </p>
</div>
