<% content_for :title, "Grade Details" %>

<div class="space-y-6">
  <div class="flex justify-between items-center">
    <h1 class="text-2xl font-bold">Grade Details</h1>
    <div class="flex space-x-2">
      <% if current_person.is_a?(Student) && @grade.student_id == current_person.id %>
        <%= render 'shared/button', 
          text: "View Grade Report", 
          icon: "fa-solid fa-chart-line",
          color: "outline-purple", 
          href: grade_report_student_path(current_person) %>
      <% end %>
      
      <% if can_grade?(@grade.examination) %>
        <%= render 'shared/button', 
          text: "Edit", 
          icon: "fa-solid fa-pencil",
          color: "outline-red", 
          href: edit_grade_path(@grade) %>
          
        <%= render 'shared/button', 
          text: "Delete", 
          icon: "fa-solid fa-trash",
          color: "red", 
          method: :delete,
          confirm: "Are you sure you want to delete this grade?",
          href: grade_path(@grade) %>
      <% end %>
      
      <%= render 'shared/button', 
        text: "Back to Grades", 
        icon: "fa-solid fa-arrow-left",
        color: "outline-gray", 
        href: grades_path %>
    </div>
  </div>

  <%= render @grade %>
</div>
