<%= form_with(model: lecture) do |form| %>
  <% if lecture.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(lecture.errors.count, "error") %> prohibited this lecture from being saved:</h2>

      <ul>
        <% lecture.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :start_time, style: "display: block" %>
    <%= form.time_field :start_time %>
  </div>

  <div>
    <%= form.label :end_time, style: "display: block" %>
    <%= form.time_field :end_time %>
  </div>

  <div>
    <%= form.label :week_day, style: "display: block" %>
    <%= form.select :week_day, Lecture.week_days.map { |day, _| [day.capitalize, day] } %>
  </div>

  <div>
    <%= form.label :subject_id, "Subject", style: "display: block" %>
    <%= form.collection_select :subject_id, Subject.all, :id, :name, { prompt: "Select a subject" } %>
  </div>

  <div>
    <%= form.submit class: "button" %>
  </div>
<% end %>
