<p style="color: green"><%= notice %></p>

<% content_for :title, "People" %>

<h1>People</h1>

<div id="people">
  <% @people.each do |person| %>
    <% partial_path = "#{person.type.downcase.pluralize}/#{person.type.downcase}" %>
    <%= "Rendering partial: #{partial_path}" %>
    <%= render partial: partial_path, locals: { person.type.downcase.to_sym => person } %>
    <p>
      <%= link_to "Show this person", person_path(person) %>
    </p>
  <% end %>
</div>

<%= link_to "New person", new_person_path %>