<%= form_with(model: @student, local: true) do |form| %>
  <% if @student.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% @student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :lastname, style: "display: block" %>
    <%= form.text_field :lastname %>
  </div>

  <div class="field">
    <%= form.label :firstname, style: "display: block" %>
    <%= form.text_field :firstname %>
  </div>

  <div class="field">
    <%= form.label :email, style: "display: block" %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :phone_number, style: "display: block" %>
    <%= form.text_field :phone_number %>
  </div>

  <div class="field">
    <%= form.label :status, style: "display: block" %>
    <%= form.select :status, Student.statuses.keys.map { |s| [s.humanize, s] } %>
  </div>

  <div class="field">
    <%= form.label :password, style: "display: block" %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation, style: "display: block" %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= form.submit class: "button" %>
  </div>
<% end %> 