<%= form_with(model: subject) do |form| %>
  <% if subject.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
        <% subject.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :teacher_ids, "Teachers", style: "display: block" %>
    <div class="select-wrapper">
      <%= form.collection_select :teacher_ids, 
          Teacher.all.order(:lastname, :firstname), 
          :id, 
          ->(teacher) { "#{teacher.lastname} #{teacher.firstname}" },
          { selected: subject.teacher_ids }, 
          { multiple: true, size: 5, class: "multiple-select" } %>
    </div>
  </div>
<% end %>
