<div id="<%= dom_id subject %>">
  <p>
    <strong>Name:</strong>
    <%= subject.name %>
  </p>

  <div class="teachers-list">
    <strong>Teachers:</strong>
    <% if subject.teachers.any? %>
      <ul>
        <% subject.teachers.each do |teacher| %>
          <li><%= "#{teacher.firstname} #{teacher.lastname}" %></li>
        <% end %>
      </ul>
    <% else %>
      <p>No teachers assigned yet.</p>
    <% end %>
  </div>

  <% if current_person.is_a?(Dean) %>
    <div class="actions mt-4">
      <%= link_to "Edit", edit_subject_path(subject), class: "button" %> |
      <%= link_to "Back to subjects", subjects_path, class: "button" %>
    </div>
  <% end %>
</div>
