<p style="color: green"><%= notice %></p>

<% content_for :title, "Subjects" %>

<h1>Subjects</h1>

<div id="subjects">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Teachers</th>
        <% if current_person.is_a?(Dean) %>
          <th>Actions</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @subjects.each do |subject| %>
        <tr>
          <td><%= subject.name %></td>
          <td>
            <% if subject.teachers.any? %>
              <%= subject.teachers.map { |t| "#{t.firstname} #{t.lastname}" }.join(", ") %>
            <% else %>
              No teachers assigned
            <% end %>
          </td>
          <% if current_person.is_a?(Dean) %>
            <td class="actions">
              <%= link_to "Show", subject_path(subject), class: "button-small" %>
              <%= link_to "Edit", edit_subject_path(subject), class: "button-small" %>
              <%= button_to "Delete", subject_path(subject), 
                  method: :delete, 
                  class: "button-small button-danger",
                  form: { style: "display: inline-block" },
                  data: { turbo_confirm: "Are you sure you want to delete this subject?" } %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if current_person.is_a?(Dean) %>
  <div class="actions mt-4">
    <%= link_to "New subject", new_subject_path, class: "button" %>
  </div>
<% end %>
