<div id="<%= dom_id school_class %>">
  <p>
    <strong>Name:</strong>
    <%= school_class.name %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= school_class.grade %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= school_class.year %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= "#{school_class.teacher.firstname} #{school_class.teacher.lastname}" %>
  </p>
</div>
