<div id="<%= dom_id teacher %>">
  <p>
    <strong>Last Name:</strong>
    <%= teacher.lastname %>
  </p>

  <p>
    <strong>First Name:</strong>
    <%= teacher.firstname %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= teacher.email %>
  </p>

  <p>
    <strong>Phone Number:</strong>
    <%= teacher.phone_number %>
  </p>

  <p>
    <strong>IBAN:</strong>
    <%= teacher.iban %>
  </p>

  <% if current_person.is_a?(Dean) %>
    <div class="actions mt-4">
      <%= link_to "Edit this teacher", edit_teacher_path(teacher), class: "button" %>
    </div>
  <% end %>
</div>