<%= form_with(model: examination) do |form| %>
  <% if examination.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(examination.errors.count, "error") %> prohibited this examination from being saved:</h2>

      <ul>
        <% examination.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :lecture_id, "Associated Lecture", style: "display: block" %>
    <%= form.collection_select :lecture_id, 
        Lecture.includes(:subject, :school_class).order('subjects.name, school_classes.name'), 
        :id, 
        ->(lecture) { 
          "#{lecture.subject.name} - #{lecture.school_class.name} (#{lecture.week_day.capitalize} #{lecture.start_time.strftime("%H:%M")})" 
        },
        { prompt: "Select a lecture" },
        { class: "select-input" } %>
  </div>

  <div>
    <%= form.submit class: "button" %>
  </div>
<% end %>
