<div id="<%= dom_id year %>">
  <p>
    <strong>Name:</strong>
    <%= year.name %>
  </p>

  <p>
    <strong>First trimester:</strong>
    <%= year.first_trimester_id %>
  </p>

  <p>
    <strong>Second trimester:</strong>
    <%= year.second_trimester_id %>
  </p>

  <p>
    <strong>Third trimester:</strong>
    <%= year.third_trimester_id %>
  </p>

  <p>
    <strong>Fourth trimester:</strong>
    <%= year.fourth_trimester_id %>
  </p>

</div>
