<div id="<%= dom_id year %>">
  <div class="trimester">
    <h3>First Trimester</h3>
    <% if year.first_trimester %>
      <p>
        <strong>Start date:</strong>
        <%= year.first_trimester.start_date.strftime("%B %d, %Y") %>
      </p>
      <p>
        <strong>End date:</strong>
        <%= year.first_trimester.end_date.strftime("%B %d, %Y") %>
      </p>
    <% else %>
      <p><em>No trimester assigned</em></p>
    <% end %>
  </div>

  <div class="trimester">
    <h3>Second Trimester</h3>
    <% if year.second_trimester %>
      <p>
        <strong>Start date:</strong>
        <%= year.second_trimester.start_date.strftime("%B %d, %Y") %>
      </p>
      <p>
        <strong>End date:</strong>
        <%= year.second_trimester.end_date.strftime("%B %d, %Y") %>
      </p>
    <% else %>
      <p><em>No trimester assigned</em></p>
    <% end %>
  </div>

  <div class="trimester">
    <h3>Third Trimester</h3>
    <% if year.third_trimester %>
      <p>
        <strong>Start date:</strong>
        <%= year.third_trimester.start_date.strftime("%B %d, %Y") %>
      </p>
      <p>
        <strong>End date:</strong>
        <%= year.third_trimester.end_date.strftime("%B %d, %Y") %>
      </p>
    <% else %>
      <p><em>No trimester assigned</em></p>
    <% end %>
  </div>

  <div class="trimester">
    <h3>Fourth Trimester</h3>
    <% if year.fourth_trimester %>
      <p>
        <strong>Start date:</strong>
        <%= year.fourth_trimester.start_date.strftime("%B %d, %Y") %>
      </p>
      <p>
        <strong>End date:</strong>
        <%= year.fourth_trimester.end_date.strftime("%B %d, %Y") %>
      </p>
    <% else %>
      <p><em>No trimester assigned</em></p>
    <% end %>
  </div>
</div>
